<?xml version="1.0"?>
<!-- Config XML file  -->

<adios-config>
    <io name="writer">     

        <engine type="InSituMPI">
            <!--parameter key="MarshalMethod" value="BP"/-->

            <!--parameter key="DataTransport" value="RDMA"/-->
            <!--parameter key="ReserveQueueLimit", value="3"-->
            
        </engine>
    </io>

    <io name="reader">

        <engine type="InSituMPI">
            <!--parameter key="DataTransport" value="RDMA"/-->
            <!--parameter key="ReserveQueueLimit", value="3"/-->
            <!--parameter key="MarshalMethod" value="BP"/-->
            
        </engine>
    </io>

</adios-config>
